.container {
    display: grid;
    grid-template-columns: 250px;
}
.left {
    background-color: rgb(46, 74, 82);
    color: white;
    display: left;
    padding: 20px;
    
}
.left > h1 {
    text-align: right;
}